body {
  background-color: #ff8d27;
}
body .submenu {
  display: flex;
  justify-content: space-between;
  background-color: #f87500;
}

* {
  font-family: sans-serif, monospace;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.header {
  background-color: #5e81d1;
}

.submenu__button {
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 50%;
  background-color: black;
  color: #f87500;
  margin: 10px;
  font-size: 70px;
}

.submenu__parrafo {
  margin: 30px 10px 0px 0px;
  font-size: 20px;
}

.formulary__h3 {
  margin: 30px 0px 20px 10px;
}

.formulary__box {
  display: flex;
  flex-direction: column;
}

.formulary__box-box1 {
  width: 170px;
  height: 50px;
  margin: 0px 0px 15px 10px;
}

.formulary__box-name {
  margin: 0px 0px 15px 10px;
}

.formulary__box-buttton {
  width: 70px;
  height: 40px;
  margin: 0px 0px 15px 10px;
  background-color: #5e81d1;
  color: white;
  border: none;
}

.formulary__box-precio {
  margin: 0px 0px 15px 10px;
}

.formulary__box-euro {
  display: flex;
}

.formulary__box-simboloeuro {
  margin: 16px 0px 0px 5px;
}
